{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAD Inspector</title>
{#    <link rel="stylesheet" href="../static/cad/css/cad_style.css">#}

  </head>
</head>

<header>
  <div class="h__container">
    <a class="logo">INSPECTOR</a>
    <nav>
      <ul> {% if user.is_authenticated %}
        <li><a>{{ request.session.fname }}</a></li>
          <li><a>{{ request.session.username }}</a></li>
          {% endif %}
          <li>

               <button class="button login__submit" onclick="location.href = '/cad/logout_user';">
                            <span class="button__text">Exit</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                    </button>
          </li>
      </ul>
    </nav>
  </div>
</header>
<body>
    <div class="container">
            <table class="engine77">
                <tr>
                    <td>{{ query_results.0.unit_name }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ query_results.0.status }}</td>
                </tr>
            </table>
        <form action="{% url 'change_status' request.session.username '10-6' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">10-6</button>
        </form>
        <form action="{% url 'change_status' request.session.username '10-8' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">10-8</button>
        </form>
        <form action="{% url 'change_status' request.session.username '10-12' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">10-12</button>
        </form>
        <form method="post" action="/cad/add_member_to_unit">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="unit_name">Unit name</label>
                        <input type="text" class="form-control" id="unit_name" name="unit_name" placeholder="unit_name" Required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="username" Required>
                    </div>

                <button type="submit"class="btn btn-primary">Add</button>
            </form>
            <br>
            <br>
            <br>
        <form action="{% url 'add_member_to_unit' request.session.username 'TL10' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">Join to TL10</button>
            </form>
        <form action="{% url 'delete_member_from_unit' request.session.username 'TL10' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">Leave the TL10</button>
            </form>
            <form action="{% url 'add_member_to_unit' request.session.username 'RA3' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">Join to RA3</button>
           </form>
        <form action="{% url 'delete_member_from_unit' request.session.username 'RA3' %}" method=POST>
            {% csrf_token %}
        <button id="approve-btn" type="submit">Leave the RA3</button>
            </form>
        </div>

</body>
</html>

{#    <form method="post" action="/cad/add_unit">#}
{#            {% csrf_token %}#}
{#            <div class="form-group">#}
{#                <label for="username">Unit name</label>#}
{#                <input type="text" class="form-control" id="unit_name" name="unit_name" placeholder="unit_name" Required>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="fname">Status</label>#}
{#                <input type="text" class="form-control" id="status" name="status" placeholder="status" Required>#}
{#            </div>#}
{##}
{#            <button type="submit" class="btn btn-primary">Add</button>#}
{#        </form>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#            <div class="form-group">#}
{#                <label for="username">Unit name</label>#}
{#                <input type="text" class="form-control" id="unit_name" name="unit_name" placeholder="unit_name" Required>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="fname">Status</label>#}
{#                <input type="text" class="form-control" id="status" name="status" placeholder="status" Required>#}
{#            </div>#}
{##}
{#        <button type="submit" onclick=r"/cad/change_status_10_6" class="btn btn-primary" value="10-6">10-6</button>#}
{##}
{#        <button type="submit" onclick=r"/cad/change_status_10_8" class="btn btn-primary" value="10-8">10-8</button>#}
{#        </form>#}
{##}
{#<table class="engine77">#}
{#    <tr>#}
{#        <td>{{ query_results.0.unit_name }}</td>#}
{#        <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Status:</td>#}
{#        <td>{{ query_results.0.status }}</td>#}
{#    </tr>#}
{#</table>#}

{#</body>#}
{#</html>#}